body {
  margin: 0px;
  padding: 0pt;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;

  background-color: #fff;
}

.visually-hidden {
  display: none;
}

a {
  text-decoration: none;
}

.logo {
  color: #fff;
  text-transform: uppercase;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.nav-link-item {
  color: #fff;
  list-style: none;
}

.nav-link-item:hover {
  background-color: #212a3a;
}

.nav-link-item:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.top-menu {
  background-color: #32425c;
  padding: 0;
  margin: 0;
}

.nav {
  background-color: #32425c;
  padding: 0;
  margin: 0;
}

.top-menu a {
  color: #fff;
}

.top-menu-bookmarks:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-menu-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}


.top-menu-order {
  min-width: 150px;
  min-height: 42px;
  line-height: 18px;
  background-color: #63a63e;
}

.top-menu-order:hover {
  line-height: 18px;
  background-color: #5fbb2d;
}

.top-menu-order:active {
  color: rgba(255, 255, 255, 0.5);
  line-height: 18px;
  background-color: #518534;
}

.header-info {
  font-size: 17px;
  line-height: 24px;
  background-color: #f4f7f9;
}

.header-info-title {
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.tel-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
  border: solid 3px #ffffff;
}

.address {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.profile a {
  font-size: 21px;
  line-height: 21px;
  color: #000;
}

.profile a:hover {
  background-color: #fff;
  color: #ee3643;
}

.profile a:active {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
}

.profile-nav {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.my-orders {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.my-orders:hover {
  color: #ee3643;
}

.my-orders:active {
  color: rgba(50, 66, 92, 0.3);
}

.my-account {
  font-size: 16px;
  color: #32425c;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.my-account:hover {
  color: #ee3643;
}

.my-account:active {
  color: rgba(50, 66, 92, 0.3);
}

/* Промо блок */
.promo-block {
  width: 300px;
  height: 123px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.promo-block a {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.promo-block a:hover,
.promo-block a:focus {
  background-color: #000;
  opacity: 0.2;
  color: #ffffff;
}

.promo-block a:active {
  background-color: #000;
  opacity: 0.3;
  color: #ffffff;
}

.promo-button {
  min-width: 135px;
  min-height: 38px;
  opacity: 0.1;
  background-color: #000;
}

/* .new-flag {
  position: relative;
  left: 77px;
} */

.materials-block {
  background-color: #ffbf47;
}

.instruments-block {
  background-color: #3bbce3;
}

.machinery-block {
  background-color: #dc91d8;
}

.discounts-block {
  background-color: #8ed78f;
}

.delivery-block {
  background-color: #ffcf47;
}

.button {
  color: #fff;
  text-transform: uppercase;
  background-color: #ee3643;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Популярные товары */

.popular-products {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-title {
  font-size: 30px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
}
.popular-products-button {
  width: 253px;
  height: 38px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  text-transform: uppercase;
  background-color: #ee3643;
  margin-top: 25px;
  margin-right: 24px;
}

.popular-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  font-family: "PT Sans", Arial, sans-serif;;
  font-size: 18px;
  font-weight: 700;
  color: #000;
}

.card-old-price {
  font-size: 17px;
  color:  #c5c5c5;
  text-decoration: line-through;
  text-align: center;
}

.card-new-price {
  width: 140px;
  height: 40px;
  background-color: #ee3643;
  color: #fff;
  font-size: 17px;
}

.card-button-buy {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000
}

.card-button-add {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000
}

.card-button-buy {
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.card-button-buy:hover,
.card-button-buy:focus {
  background-color: #5fbb2d;
}

.card-button-buy:active {
  background-color: #518534;
}

.card-button-add {
  color: #32425c;
  font-size: 14px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

.card-button-add:hover,
.card-button-add:focus {
  color: #32425c;
  border: 3px solid #32425c;
}

.card-button-add:active {
  color: #32425c;
  opacity: 0.3;
  border: 3px solid #32425c;
  opacity: 0.3;
}

/* Производители */

.brands-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.brands-button {
  min-width: 253px;
  background-color: #ee3643;
  color: #ffffff;
  text-transform: uppercase;
}

.brands-list {
  list-style: none;
}

.brands-list-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list-item:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  width: 1200px;
  background-color: #f4f7f9;
  font-size: 13px;
  line-height: 24px;
  font-family: PTSans, sans-serif;
  color: #000;
}

.services-title {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

.services-navigation-button {
  width: 240px;
  height: 61px;
  background-color: #32425c;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  border: none;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-navigation-button:hover {
  background-color: #293449;
}

.services-navigation-button:active {
  background-color: #fff;
  color: #32425c;
}

.services-info {
  list-style: none;
}

.service-item h3 {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 36px;
  text-align: left;
  color: #32425c;
  line-height: 36px;
}

.credit-button {
  min-width: 195px;
  min-height: 38px;
  color: #fff;
  background-color: #ff5357;
}

/* О компании */
.about-company-title {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}
.about-company p {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.about-company-list {
  list-style: none;
  color: #000;
} 

.about-company-button {
  min-width: 220px;
  min-height: 38px;
  color: #fff;
  background-color: #ee3643;
}

.about-company-button:hover {
  background-color: #ca2c37;
}

.about-company-button:active {
  background-color: #ba2732;
}

.contacts-title {
  text-transform: uppercase;
  font-family: "Cuprum", Arial, sans-serif;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

.contacts-content {
  font-family: "PTSans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.contacts-button {
  min-width: 300px;
  min-height: 38px;
  color: #fff;
  background-color: #ee3643;
}

.contacts-button:hover {
  background-color: #ca2c37;
}

.contacts-button:active {
  background-color: #ba2732;
}

.contacts-form-button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
}

.footer-top {
  background-color: #32425c;
}

.footer-nav-item{
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-contacts-address {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-contacts-tel {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

footer li {
  list-style: none;
}

.footer-catalog-item {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-nav-link:hover,
.footer-catalog-link:hover,
.contacts-feedback-link:hover,
.contacts-developer-link:hover {
  text-decoration: underline;
}

.footer-nav-item:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-item:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-contacts {
  font-size: 16px;
  color: #fff;
  background-color: #293449;
}

.social-link {
  color: #fff;
}

.social-link:active {
  background-color: #ee3643;
}

.social-link:hover {
  background-color: #ee3643;
}

.contacts-feedback-link {
  color: #ffd180;
}

.contacts-feedback-link:active {
  color: #ee3643;
} 

.contacts-developer-link {
  color: #ffd180;
}

.contacts-developer-link:active {
  color: #ee3643;
} 

/* Каталог */
.breadcrumbs {
  font-family: "PT Sans", Arial, sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-title {
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting-header-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-header-item {
  border-bottom: 1px dashed #ee3643;
  color: #000;
  opacity: 0.3;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-header-item:hover {
  border-bottom: 1px solid #ee3643;
  color: #000;
}

.sorting-item-current {
  border-bottom: 0;
  color: #ee3643;
}

.sorting-header-title {
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-name {
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.price-filter {
  color: #000;
}

.brands-filter {
  color: #000;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.battery-filter {
  color: #000;
  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-button {
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination {
  list-style: none;
}

.pagination-link-item {
  border: solid 1px #e5e5e5;
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.pagination-link-item:hover {
  border: solid 1px #bdc6ca;
}

.pagination-link-item:active {
  border: solid 1px #ee3643;
}

.pagination-current {
  color: #fff;
  background-color: #ee3643;
}

.about {
  width: 1200px;
  height: 261px;
  color: #000;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  background-color: #f4f7f9;
}

.about-title {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
}
