body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Tahoma;
  font-size: 17px;
  line-height: 24px;
  color: #fff;

  background-color: #fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
  width: 940px;
}

.button {
  font-family: "Cuprum", Tahoma;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #ee3643;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
}

.header {
  padding-bottom: 60px;
  width: 100%;
  background-color: #f4f7f9;

}

.logo {
  text-align: center;
  text-transform: uppercase;
  box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
  background-color: #ee3643;
}

.header-logo {
  width: 220px;
  padding-top: 13px;
  padding-bottom: 5px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-top {
  width: 100%;
  background-color: #293449;
  padding: 0;
  margin: 0;
}

.search {
  background-color: #293449;
  border: none;
  padding: 12px 60px 12px 50px;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffffff;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
}

.top-menu-bookmarks {
  color: #fff;
  padding: 10px 20px;
}

.top-menu-bookmarks:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-menu-basket {
  color: #fff;
  padding: 10px 20px;
}

.top-menu-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-menu-order {
  color: #fff;
  padding: 10px 20px;
  background-color: #63a63e;
}

.top-menu-order:hover {
  background-color: #5fbb2d;
}

.top-menu-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-bottom {
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  background-color: #f4f7f9;
  text-align: center;
  padding-top: 46px;
}

.header-bottom-title {
  width: 196px;
  margin-top: 0;
  margin-left: 53px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.header-bottom-contacts {
  margin-right: auto;
  margin-left: auto;
}

.header-bottom .tel-number {
  padding: 8px 50px 12px 70px;
  line-height: 45px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.address {
  font-family: "Cuprum", Tahoma;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}


.profile {
  color: #000;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.profile-sign {
  margin-top: 11px;
}

.profile-sign-in {
  background-color: #fff;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  padding: 10px 25px 10px 46px;
}

.profile-sign-up {
  background-color: #fff;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  margin-left: 10px;
  padding: 10px 25px;
}

.profile a:hover {
  color: #ee3643;
}

.profile a:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-user {
  background-color: #fff;
  padding: 12px 68px 12px 45px;
}

.profile-user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000;
}

.profile-nav {
  list-style: none;
  display: flex;
  padding-top: 4px;
  padding-left: 27px;
  margin: 0;
  font-size: 16px;
}

.profile-nav-orders {
  margin-right: 30px;
}

.my-orders,
.my-account {
  padding: 0;
  margin-bottom: 1px;
  text-decoration: underline;
}

.nav {
  background-color: #32425c;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0;
  list-style: none;
}

.nav-link-item {
  display: block;
  color: #fff;
  padding: 16px 30px;
}

.nav-link-item:hover {
  background-color: #212a3a;
}

.nav-link-item:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}


/* Промо блок */

.promo-block-top {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.promo-slider-container {
  display: flex;
  justify-content: start;
  margin-bottom: 53px;
}

.slider-title {
  display: block;
  margin: 0;
  padding: 24px 0 0 24px;
}

.promo-block-right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;

}

.promo-block {
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
}

.promo-block a {
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.promo-block a:hover,
.promo-block a:focus {
  background-color: #000;
  opacity: 0.2;
  color: #ffffff;
}

.promo-block a:active {
  background-color: #000;
  opacity: 0.3;
  color: #ffffff;
}

.promo-button {
  min-width: 135px;
  min-height: 38px;
  opacity: 0.1;
  background-color: #000;
}

/* .new-flag {
  position: relative;
  left: 77px;
} */

.materials-block {
  background-color: #ffbf47;
  margin-right: 20px;
}

.instruments-block {
  background-color: #3bbce3;
  margin-right: 20px;
}

.machinery-block {
  background-color: #dc91d8;
}

.discounts-block {
  background-color: #8ed78f;
  margin-bottom: 10px;
}

.delivery-block {
  background-color: #ffcf47;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Популярные товары */

.popular-products {
  margin-top: 53px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-title {
  font-size: 30px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  margin-left: 28px;
}

.popular-products-header {
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: #f9f5f0;
}

.popular-products-button {
  width: 253px;
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.card {
  width: 218px;
  border: solid 1px #eaeaea;
  font-family: "PT Sans", Arial;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-right: 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card-name {
  color: #000;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card:nth-child(n+5) {
  margin-top: 20px;
}

.card-old-price {
  width: 220px;
  font-size: 17px;
  color:  #c5c5c5;
  text-decoration: line-through;
  text-align: center;
}

.card-new-price {
  margin-left: 43px;
  width: 140px;
  height: 40px;
  background-color: #ee3643;
  color: #fff;
  font-size: 17px;
}

.card-button-buy {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000
}

.card-button-add {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #000
}

.card-button-buy {
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.card-button-buy:hover,
.card-button-buy:focus {
  background-color: #5fbb2d;
}

.card-button-buy:active {
  background-color: #518534;
}

.card-button-add {
  color: #32425c;
  font-size: 14px;
  text-transform: uppercase;
  border: 3px solid #63a63e;
}

.card-button-add:hover,
.card-button-add:focus {
  color: #32425c;
  border: 3px solid #32425c;
}

.card-button-add:active {
  color: #32425c;
  opacity: 0.3;
  border: 3px solid #32425c;
  opacity: 0.3;
}

/* Производители */

.brands {
  margin-top: 53px;
}

.brands-header {
  display: flex;
  align-items: center;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  padding-right: 24px;
}

.brands-title {
  font-size: 30px;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  padding-left: 28px;
}

.brands-button {
  width: 253px;
  margin-left: auto;
}

.brands-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.brands-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 17px;
  vertical-align: middle;
  width: 220px;
  border: solid 1px #eaeaea;
}

.brands-list-link:nth-child(1),
.brands-list-link:nth-child(5n) {
  margin-left: 0;
}

.brands-list-link:nth-child(-n + 4) {
  margin-bottom: 20px;
}

.brands-list-link:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list-link:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services {
  padding-top: 68px;
  margin-top: 85px;
  width: 100%;
  background-color: #f4f7f9;
  color: #000;
}

.services-content {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial;
  color: #000;
}

.services-title {
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  font-size: 30px;
  line-height: 30px;
}

.services-content {
  width: 400px;
}

.services-container {
  display: flex;
}

.services-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}

.services-navigation-button {
  padding: 20px 0 20px 20px;
  width: 240px;
  background-color: #32425c;
  font-family: "Cuprum", Tahoma;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  text-align: left;
  border: none;
  box-shadow: 0px 1px 0 0 #293449, inset 0px 1px 0 0 #405069;
}

.services-navigation-button:hover {
  background-color: #293449;
}

.services-navigation-button:active {
  background-color: #fff;
  color: #32425c;
}

.services-info {
  list-style: none;
  margin: 75px 0 0 78px;
  padding: 0;
}

.services-info-title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: #32425c;
}

.services-delivery-content {
  margin: 34px 0 0 0;
  width: 275px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  color: #000;
}

.services-guarantee-content {
  width: 379px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  color: #000;
}

.services-credit-content {
  width: 279px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  color: #000;
}

.credit-button {
  font-weight: normal;
  width: 195px;
}

.credit-button a {
  color: #fff;
}

/* О компании */

.company-info {
  display: flex;
  justify-content: start;
  padding-top: 80px;
  padding-bottom: 86px;
}

.about-company {
  width: 519px;
}

.about-company-title {
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

.about-company-content {
  width: 519px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.about-company p:nth-child(3) {
  width: 386px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.about-company-list {
  width: 386px;
  margin-bottom: 37px;
  list-style: none;
  color: #000;
} 

.about-company-button {
  width: 220px;
  padding-right: 40px;
  padding-left: 40px;
}

.about-company-button:hover {
  background-color: #ca2c37;
}

.about-company-button:active {
  background-color: #ba2732;
}

.contacts {
  width: 300px;
  margin-left: 120px;
}

.contacts-title {
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

.contacts-content {
  margin-bottom: 36px;
  width: 179px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.contacts-button {
  width: 300px;
  margin-top: 40px;
  margin-bottom: 86px;
}

.contacts-button a {
  color: #fff;
}

.contacts-button:hover {
  background-color: #ca2c37;
}

.contacts-button:active {
  background-color: #ba2732;
}

.contacts-form-button {
  font-family: "Cuprum", Tahoma;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

/* Футер */

.footer-logo {
  width: 220px;
  padding: 20px 0 15px;
}

.footer-top {
  width: 100%;
  background-color: #32425c;
}

.footer-top-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-top-contacts {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer-top-address {
  padding: 0;
  margin: 0;
  width: 342px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-top-tel {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-nav-container {
  width: 613px;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 42px;
  margin-left: 12px;
}

.footer-nav-link {
  margin-right: 60px;
}

.footer-nav-link:nth-child(5n) {
  margin-right: 0;
}

.footer-catalog {
  margin-top: 14px;
  margin-left: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer-catalog-link {
  margin-right: 60px;
}

.footer-catalog-link:nth-child(5n) {
  margin-right: 0;
}

.footer-catalog-link:first-child {
  margin-left: 20px;
}

.footer-catalog-link:last-child {
  margin-right: 0;
}

footer li {
  list-style: none;
}

.footer-nav-item{
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-catalog-item {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-nav-link:hover,
.footer-catalog-link:hover,
.contacts-feedback-link:hover,
.contacts-developer-link:hover {
  text-decoration: underline;
}

.footer-nav-item:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-item:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-contacts {
  width: 100%;
  background-color: #293449;
}

.footer-bottom-container {
  display: flex;
  justify-content: start;
}

.footer-bottom-content {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 230px;
  font-size: 16px;
  color: #fff;
}

.footer-bottom-social {
  margin-left: 160px;
}

.footer-bottom-social {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-left: 0;
  display: flex;
}

.footer-bottom-feedback {
  width: 135px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 120px;
}

.footer-bottom-developer {
  width: 110px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
}

.footer-social-link {
  width: 42px;
  color: #fff;
}

.footer-social-link:active {
  background-color: #ee3643;
}

.footer-social-link:hover {
  background-color: #ee3643;
}

.footer-feedback-link {
  color: #ffd180;
}

.footer-feedback-link:active {
  color: #ee3643;
} 

.footer-developer-link {
  color: #ffd180;
}

.footer-developer-link:active {
  color: #ee3643;
} 

/* Каталог */

.breadcrumbs {
  display: flex;
  font-family: "PT Sans", Arial;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
}

.breadcrumbs-link {
  margin-right: 40px;
  list-style: none;
  font-family: "PT Sans", Arial;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting-container {
  margin-top: 20px;
  display: flex;
}

.catalog-sorting-container {
  margin-top: 20px;
  display: flex;
}

.filters-and-catalog {
  display: flex;
  margin-top: 20px;
  margin-bottom: 59px;
}

.filter-title {
  width: 220px;
  background-color: #f7f3ec;
  color: #000;
  text-transform: uppercase;
  margin: 0;
  margin-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
}

.sorting-header {
  padding: 12px 17px;
  width: 700px;
  background-color: #f7f3ec;
  display: flex;
  align-items: center;
}

.sorting-header-title {
  margin: 0;
  margin-right: 138px;
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-header-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-header-price {
  margin-right: 70px;
}

.sorting-header-type {
  margin-right: 64px;
}

.sorting-header-function {
  margin-right: 45px;
}

.sorting-header-item {
  border-bottom: 1px dashed #ee3643;
  color: #000;
  opacity: 0.3;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-header-item:hover {
  border-bottom: 1px solid #ee3643;
  color: #000;
}

.sorting-item-current {
  border-bottom: 0;
  color: #ee3643;
}

.filters {
  width: 220px;
  
}

.filters li {
  list-style: none;
}

.price-filter-title {
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-filter {
  color: #000;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-filter-range {
  background-color: #f7f3ec;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}

.brands-filter {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  color: #000;
  list-style: none;
  font-family: "PT Sans", Arial;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.brands-filter-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.brands-filter-list {
  padding: 0;
  margin: 0;
}

.battery-filter {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  color: #000;
  list-style: none;
  font-family: "PT Sans", Arial;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.battery-filter-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.battery-filter-list {
  padding: 0;
  margin: 0;
}

.filter-button {
  width: 140px;
  padding: 10px 38px;
  margin-top: 75px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}


.catalog-cards {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.catalog-card {
  width: 218px;
  border: solid 1px #eaeaea;
  font-family: "PT Sans", Arial;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-right: 20px;
  text-align: center;
}

.catalog-card:nth-child(3n) {
  margin-right: 0;
}

.catalog-card:nth-child(n+4) {
  margin-top: 20px;
}

.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin-top: 52px;
  margin-left: 18px;
  list-style: none;
}

.catalog-pagination-item {
  padding: 15px 15px;
  margin-right: 10px;
  border: solid 1px #e5e5e5;
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-pagination-item:hover {
  border: solid 1px #bdc6ca;
}

.catalog-pagination-item:active {
  border: solid 1px #ee3643;
}

.catalog-pagination-current {
  color: #fff;
  background-color: #ee3643;
}

.about-container {
  background-color: #f4f7f9;
}

.about {
  width: 940px;
  margin: 0 auto;
  padding: 65px 0 68px 0;
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
}

.about-title {
  font-family: "Cuprum", Tahoma;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}

.about-content {
  width: 910px;
}


