body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Tahoma;
  font-size: 17px;
  line-height: 24px;
  color: #fff;

  background-color: #fff;
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.center {
  margin: 0 auto;
  width: 940px;
}

.button {
  font-family: "Cuprum", Tahoma;
  padding: 10px 0;
  color: #fff;
  text-transform: uppercase;
  background-color: #ee3643;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  border-radius: 3px;
}

.header {
  padding-bottom: 60px;
  width: 100%;
  background-color: #f4f7f9;

}

.logo {
  text-align: center;
  text-transform: uppercase;
  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo {
  width: 220px;
  padding-top: 13px;
}

.logo:hover {
  background-color: #ca2c37;
}

.logo:active {
  background-color: #ba2732;
}

.header-top {
  width: 100%;
  background-color: #293449;
  padding: 0;
  margin: 0;
}


.header-container {
  display: flex;
  justify-content: flex-start;
  width: 940px;
  margin: 0 auto;
}

.search-form {
  display: flex;
  width: 270px;
}

.search {
  height: 42px;
  background-color: #293449;
  border: none;
  padding: 12px 0px 12px 39px;
  font-size: 17px;
  line-height: 18px;
  font-family: "Cuprum","Arial",sans-serif;
  color: #ffffff;
  font-weight: bold;
}

.search:focus  {
  background-color: #fff;
}

.search-button {
  order: -1;
  margin-left: 10px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.search-button path {
  color: rgba(255, 255, 255, 0.3);;
}

.search:hover + .search-button path {
  color: #fff;
}

.search-button path:focus {
  color: #ee3643;
}


.top-menu-bookmarks {
  width: 110px;
  position: relative;
  color: #fff;
  padding: 10px 0 10px 40px;
}

.top-menu-bookmarks::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 13px;
  left: 16px;
  width: 14px;
  height: 16px;
  background-image: url(../img/icons/icon-bookmark.svg);
  background-repeat: no-repeat;
}

.top-menu-bookmarks:hover::before,
.top-menu-basket:hover::before {
  opacity: 1;
}

.top-menu-bookmarks:active::before,
.top-menu-basket:active::before {
  opacity: 0.5;
}

.top-menu-bookmarks:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-menu-bookmarks:hover {
  background-color: #161d29;
}

.top-menu-basket {
  width: 110px;
  position: relative;
  color: #fff;
  padding: 10px 0 10px 40px;
}

.top-menu-basket::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  top: 13px;
  left: 16px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icons/icon-basket.svg);
  background-repeat: no-repeat;
}

.top-menu-basket:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.top-menu-basket:hover {
  background-color: #161d29;
}

.active {
  background-color: #ee3643;
}

.top-menu-order {
  width: 130px;
  color: #fff;
  padding: 10px 0 10px 20px;
  background-color: #63a63e;
}

.top-menu-order:hover {
  background-color: #5fbb2d;
}

.top-menu-order:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.header-bottom {
  width: 100%;
  font-size: 17px;
  line-height: 24px;
  background-color: #f4f7f9;
  text-align: center;
  padding-top: 46px;
}

.header-bottom-title {
  width: 196px;
  margin-top: 0;
  margin-left: 53px;
  font-size: 16px;
  font-weight: normal;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.header-bottom-contacts {
  margin-right: auto;
  margin-left: auto;
}

.header-bottom .tel-number {
  position: relative;
  padding: 8px 50px 8px 70px;
  line-height: 45px;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 21px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-bottom .tel-number::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icons/icon-phone.svg);
  background-repeat: no-repeat;
}

.address {
  font-family: "Cuprum", Tahoma;
  font-size: 14px;
  line-height: 24px;
  margin-top: 7px;
  color: #32425c;
}


.profile {
  color: #000;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.profile-sign {
  margin-top: 11px;
}

.profile-sign-in {
  position: relative;
  background-color: #fff;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  padding: 10px 25px 10px 46px;
}

.profile-sign-in::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 14px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/icon-login.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.profile-sign-in:hover::before {
  opacity: 1;
}

.profile-sign-in:active::before {
  opacity: 0.3;
}

.profile-sign-up {
  background-color: #fff;
  font-size: 21px;
  line-height: 21px;
  color: #000;
  margin-left: 10px;
  padding: 10px 25px;
}

.profile-sign a:hover,
.profile-nav a:hover {
  color: #ee3643;
}

.profile-sign a:active,
.profile-nav a:active {
  color: rgba(0, 0, 0, 0.3);
}

.profile-user {
  position: relative;
  background-color: #fff;
  padding: 12px 68px 12px 45px;
}

.profile-user-name {
  font-size: 21px;
  line-height: 21px;
  color: #000;
}

.profile-user-name::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 11px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/icon-user.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.profile-user-name::after {
  content: "";
  position: absolute;
  top: 13px;
  left: 268px;
  width: 20px;
  height: 20px;
  background-image: url(../img/icons/icon-logout.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.profile-user-name:hover::before,
.profile-user-name:hover::after {
  opacity: 1;
}

.profile-user-name:active::before,
.profile-user-name:active::after {
  opacity: 0.3;
}

.profile-nav {
  position: relative;
  list-style: none;
  display: flex;
  padding-top: 4px;
  padding-left: 27px;
  margin: 0;
  font-size: 16px;
}

.profile-nav-orders {
  margin-right: 30px;
}

.my-orders,
.my-account {
  color: #32425c;
  padding: 0;
  margin-bottom: 1px;
  text-decoration: underline;
}

.profile-nav .profile-nav-account::before {
  position: absolute;
  content: "";
  top: 14px;
  left: 115px;
  width: 5px;
  height: 5px;
  background-color: #32425c;
  border-radius: 50px;
}

.nav {
  background-color: #32425c;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  padding-left: 20px;
  margin-bottom: 0;
  list-style: none;
}

.nav-link-item {
  display: block;
  color: #fff;
  padding: 20px 31px;
}

.nav-link-item:hover {
  background-color: #212a3a;
}

.nav-link-item:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}


/* Промо блок */

.new::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-image: url(../img/icons/new-flag.png);
  background-repeat: no-repeat;
}

.promo-block-top {
  margin-top: 60px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.slider-container {
  display: flex;
  justify-content: start;
  margin-bottom: 53px;
}

.slider {
  position: relative;
}

.slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  z-index: 60;
  bottom: 40px;
  left: 295px;
  width: 60px;
  height: 10px;
  text-align: center;
}

.slider-controls label {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 6px;
  vertical-align: top;
  background-color: #fff;
  border: 3px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slider-slides #slider-slides-1,
#btn-2:checked ~ .slider-slides #slider-slides-2 {
  display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
  background-color: #ee3643;
  border: 3px solid #fff;
}

.slider-slides-1 {
  width: 575px;
  height: 217px;
  padding: 27px 20px 23px 26px;
}

.slider-slides-2 {
  width: 575px;
  height: 217px;
  padding: 27px 20px 23px 26px;
}

.slider-title {
  position: absolute;
  top: 25px;
  left: 25px;
  margin: 0;
  font-family: "Cuprum", "Tahoma", sans-serif;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  color: #fff;
  text-transform: uppercase;
}

.slider-content {
  position: absolute;
  top: 55px;
  left: 25px;
  margin: 0;
  margin-top: 8px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: #fff;
}

.slider .arrow-left::after {
  content: "";
  position: absolute;
  z-index: 20;
  left: 22px;
  top: 123px;
  display: block;
  width: 22px;
  height: 40px;
  background-image: url(../img/icons/icon-arrow-left.svg);
  cursor: pointer;
}

.slider .arrow-left::before {
  content: "";
  position: absolute;
  display: block;
  width: 22px;
  height: 40px;
  z-index: 20;
  right: 22px;
  top: 123px;
  background-image: url(../img/icons/icon-arrow-right.svg);
  cursor: pointer;
}


.slider-button {
  position: absolute;
  left: 25px;
  bottom: 25px;
  width: 195px;
  padding: 10px 0;
}

.promo-block-right {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.promo-block {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 123px;
  width: 300px;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  overflow: hidden;
}

.promo-block a:hover,
.promo-block a:focus {
  background-color: #000;
  opacity: 0.2;
  color: #ffffff;
}

.promo-block a:active {
  background-color: #000;
  opacity: 0.3;
  color: #ffffff;
}

.promo-block > h3 {
  display: block;
  margin: 21px 0 0 23px;
}

.promo-block > img {
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.promo-button {
  display: inline-block;
  width: 135px;
  padding: 10px 0;
  margin: 12px 0 0 24px;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  background-color: rgba(0,0,0,.1);
  
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: normal;
}

.materials-block {
  background-color: #ffbf47;
  margin-right: 20px;
}

.instruments-block {
  background-color: #3bbce3;
  margin-right: 20px;
}

.machinery-block {
  background-color: #dc91d8;
}

.discounts-block {
  background-color: #8ed78f;
  margin-bottom: 20px;
}

.delivery-block {
  background-color: #ffcf47;
}

.button:hover {
  background-color: #ca2c37;
}

.button:active {
  background-color: #ba2732;
}

/* Популярные товары */

.popular-products {
  margin-top: 53px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  margin-left: 28px;
}

.popular-products-header {
  padding-right: 24px;
  display: flex;
  align-items: center;
  background-color: #f9f5f0;
}

.popular-products-button {
  width: 253px;
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.card {
  position: relative;
  width: 218px;
  border: solid 1px #eaeaea;
  font-family: "PT Sans", Arial;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-right: 20px;
  text-align: center;
}

.card:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.card-name h3{
  margin: 0px 0 12px 0;
  color: #000;
}

.card:nth-child(4n) {
  margin-right: 0;
}

.card:nth-child(n+5) {
  margin-top: 20px;
}

.card-old-price {
  height: 30px;
  margin: 0;
  color: #999;
  text-decoration: line-through;
}

.card-new-price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 8px 30px;
  color: white;
  line-height: 24px;
  background-color: #ee3643;
  border-radius: 3px;
}

.card-new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.card-buttons {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
  
}

.card-button-buy,
.card-button-add  {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.card-button-add {
  color: #32425c;
  background-color: #fff;
  border-bottom-color: #63a63e;
}

.card-buttons {
  position: absolute;
  z-index: 1;
}

.card:hover .card-buttons {
  position: absolute;
  z-index: -1;
}

.card-button-buy:hover,
.card-button-buy:focus {
  background-color: #5fbb2d;
}

.card-button-buy:active {
  background-color: #518534;
}

.card-button-add:hover,
.card-button-add:focus {
  color: #32425c;
  border: 3px solid #32425c;
}

.card-button-add:active {
  color: #32425c;
  opacity: 0.3;
  border: 3px solid #32425c;
  opacity: 0.3;
}

/* Производители */

.brands {
  margin-top: 53px;
}

.brands-header {
  display: flex;
  align-items: center;
  background-color: #f9f5f0;
  margin-bottom: 20px;
  padding-right: 24px;
}

.brands-title {
  font-size: 30px;
  font-weight: normal;
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  color: #000;
  padding-left: 28px;
}

.brands-button {
  width: 253px;
  margin-left: auto;
}

.brands-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
}

.brands-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 17px;
  vertical-align: middle;
  width: 220px;
  height: 145px;
  border: solid 1px #eaeaea;
}

.brands-list-link:nth-child(1),
.brands-list-link:nth-child(5n) {
  margin-left: 0;
}

.brands-list-link:nth-child(-n + 4) {
  margin-bottom: 20px;
}

.brands-list-link:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.brands-list-link:active {
  box-shadow: 0px 4px 10px 0 rgba(41, 52, 73, 0.5);
  opacity: 0.3;
}

.services-container {
  padding-top: 68px;
  margin-top: 85px;
  width: 100%;
  background-color: #f4f7f9;
  color: #000;
}

.services-content {
  width: 400px;
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", Arial;
  color: #000;
}

.services-title {
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  font-size: 30px;
  line-height: 30px;
}

.services-slider {
  display: flex;
  position: relative;
}

.services-navigation {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
}


.services-navigation input[type=radio] {
  display: none;
}

.services-toggles {
  position: relative;
  margin-top: 74px;
  margin-bottom: 99px;
}

.services-toggles::after {
  content: "";
  position: absolute;
  top: -40px;
  right: 0;
  width: 10px;
  height: 279px;
  background-image: url(../img/icons/shadow.png);
}

.services-toggles label {
  display: flex;
  flex-direction: column;
  padding: 20px 0 20px 20px;
  width: 240px;
  background-color: #32425c;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  cursor: pointer;
}

.services-toggles label[for=button-2] {
  border-top: 1px solid #293449;
  border-bottom: 1px solid #293449;
}

.services-toggles label:hover {
  background-color: #293449;
}

#button-1:checked ~ .services-toggles label[for=button-1],
#button-2:checked ~ .services-toggles label[for=button-2],
#button-3:checked ~ .services-toggles label[for=button-3] {
  background-color: #fff;
  color: #32425c;
}

.services-info-item {
  display: none;
}

#button-1:checked ~ .services-info .delivery,
#button-2:checked ~ .services-info .guarantee,
#button-3:checked ~ .services-info .credit {
  display: block;
}


.services-info {
  margin: 75px 0 0 78px;
  padding: 0;
}

.services-info-title {
  margin: 0;
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  color: #32425c;
}

.services-delivery-content {
  margin: 34px 0 0 0;
  width: 275px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  color: #000;
}

.services-guarantee-content {
  width: 379px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  color: #000;
}

.services-credit-content {
  width: 279px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  color: #000;
}

.credit-button {
  font-weight: normal;
  width: 195px;
}

.credit-button a {
  color: #fff;
}

/* О компании */

.company-info {
  display: flex;
  justify-content: start;
  padding-top: 80px;
  padding-bottom: 86px;
}

.about-company {
  width: 519px;
}

.about-company-title {
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

.about-company-content {
  width: 519px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.about-company p:nth-child(3) {
  width: 386px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.about-company-list {
  position: relative;
  width: 386px;
  margin-bottom: 37px;
  list-style: none;
  color: #000;
} 

.about-company-list li::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  transform: translateY(10px);
}

.about-company-button {
  width: 220px;
  padding-right: 40px;
  padding-left: 40px;
}

.about-company-button:hover {
  background-color: #ca2c37;
}

.about-company-button:active {
  background-color: #ba2732;
}

.contacts {
  width: 300px;
  margin-left: 120px;
}

.contacts-title {
  text-transform: uppercase;
  font-family: "Cuprum", Tahoma;
  color: #000;
  font-size: 30px;
  line-height: 30px;
}

.contacts-content {
  margin-bottom: 36px;
  width: 179px;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000;
}

.contacts-button {
  width: 300px;
  margin-top: 40px;
}

.contacts-button a {
  color: #fff;
}

.contacts-button:hover {
  background-color: #ca2c37;
}

.contacts-button:active {
  background-color: #ba2732;
}

.contacts-form-button {
  font-family: "Cuprum", Tahoma;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

/* Футер */

.footer-logo {
  width: 220px;
  padding: 20px 0 15px;
}

.footer-top {
  width: 100%;
  background-color: #32425c;
}

.footer-top-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.footer-top-contacts {
  margin-top: 30px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.footer-top-address {
  padding: 0;
  margin: 0;
  width: 342px;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-top-tel {
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
}

.footer-nav-container {
  width: 613px;
  display: flex;
  flex-wrap: wrap;
}

.footer-nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 42px;
  margin-left: 12px;
}

.footer-nav-link {
  margin-right: 60px;
}

.footer-nav-link:nth-child(5n) {
  margin-right: 0;
}

.footer-catalog {
  margin-top: 14px;
  margin-left: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer-catalog-link {
  margin-right: 60px;
}

.footer-catalog-link:nth-child(5n) {
  margin-right: 0;
}

.footer-catalog-link:first-child {
  margin-left: 20px;
}

.footer-catalog-link:last-child {
  margin-right: 0;
}

footer li {
  list-style: none;
}

.footer-nav-item{
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer-catalog-item {
  font-size: 18px;
  line-height: 24px;
  color: #ffd180;
}

.footer-nav-link:hover,
.footer-catalog-link:hover,
.footer-feedback-link:hover,
.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-nav-item:active {
  color: rgba(241, 245, 247, 0.5);
}

.footer-catalog-item:active {
  color: rgba(255, 209, 128, 0.5);
}

.footer-bottom-contacts {
  width: 100%;
  background-color: #293449;
}

.footer-bottom-container {
  display: flex;
  justify-content: start;
}

.footer-bottom-content {
  margin-top: 35px;
  margin-bottom: 35px;
  width: 230px;
  font-size: 16px;
  color: #fff;
}

.footer-bottom-social {
  margin-left: 160px;
}

.footer-bottom-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin-top: 35px;
  margin-left: 160px;
  padding: 0;
  list-style: none;
}

.footer-bottom-feedback {
  width: 135px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: 120px;
}

.footer-bottom-developer {
  width: 110px;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-left: auto;
}

.footer-social-link {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
  cursor: pointer;
}

.footer-social-link:active {
  background-color: #ee3643;
}

.footer-social-link:hover {
  background-color: #ee3643;
}

.footer-social-link .social-link_vk::before {
  background-image: url(../img/icons/social/icon-vk.svg);
  background-repeat: no-repeat;
}

.footer-social-link .social-link_fb::before {
  background-image: url(../img/icons/social/icon-fb.svg);
  background-repeat: no-repeat;
}

.footer-social-link .social-link_inst::before {
  background-image: url(../img/icons/social/icon-inst.svg);
  background-repeat: no-repeat;
}

.footer-social-link .social-link_vk:before, 
.footer-social-link .social-link_fb:before, 
.footer-social-link .social-link_inst:before {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-position: 50%;
  background-size: contain;
  transform: translate(50%, 50%);
}

.footer-feedback-link {
  color: #ffd180;
}

.footer-feedback-link:active {
  text-decoration: none;
  color: #ee3643;
} 

.footer-developer-link {
  color: #ffd180;
}

.footer-developer-link:active {
  color: #ee3643;
} 

/* Каталог */

.breadcrumbs {
  display: flex;
  font-family: "PT Sans", Arial;
  color: #000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
}

.breadcrumbs-link {
  position: relative;
  margin-right: 40px;
  list-style: none;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs-link::before {
  position: absolute;
  content: "";
  top: 3px;
  left: -20px;
  width: 14px;
  height: 20px;
  background-image: url(../img/icons/icon-right-small.svg);
  background-repeat: no-repeat;
}

.breadcrumbs .home::before {
  display: none;
}

.breadcrumbs-link-item {
  color: #000;
}

.icon-home {
  position: relative;
  top: 2px;
}

.catalog-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  background-color: #f2f6f8;
  color: #32425c;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting-container {
  margin-top: 20px;
  display: flex;
}

.catalog-sorting-container {
  margin-top: 20px;
  display: flex;
}

.filters-and-catalog {
  display: flex;
  margin-top: 20px;
  margin-bottom: 59px;
}

.filter-title {
  width: 220px;
  background-color: #f7f3ec;
  color: #000;
  font-family: "PT Sans", Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;
  margin-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 17px;
  border-radius: 4px;
}

.sorting-header {
  position: relative;
  padding: 12px 17px;
  width: 700px;
  background-color: #f7f3ec;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.sorting-header-title {
  margin: 0;
  margin-right: 138px;
  color: #000;
  font-family: "PT Sans", Arial;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-header-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-header-price {
  margin-right: 70px;
}

.sorting-header-type {
  margin-right: 64px;
}

.sorting-header-function {
  margin-right: 45px;
}

.sorting-header-item {
  border-bottom: 1px dashed #ee3643;
  color: #000;
  opacity: 0.3;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-header-item:hover {
  border-bottom: 1px solid #ee3643;
  color: #000;
  opacity: 1;
}

.sorting-item-current {
  border-bottom: 0;
  color: #ee3643;
  opacity: 1;
}

.sorting-button-up {
  margin-right: 20px;
}

.sorting-button-up svg,
.sorting-button-down svg {
  color: #000;
  opacity: 0.3;
}

.sorting-button-up svg:hover,
.sorting-button-down svg:hover {
  opacity: 1;
}

.button-active svg{
  color: #ee3643;
  opacity: 1;
}


.filters {
  width: 220px;
}

.filters li {
  list-style: none;
}

.price-filter-title {
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.price-filter {
  color: #000;
  border: 0;
  padding: 0;
  margin: 0;
}

.price-filter-range {
  width: 180px;
  height: 80px;
  background-color: #f7f3ec;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.price-filter-range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  background-color: #f7f3ec;
  border-radius: 5px;
}

.price-filter-scale {
  height: 2px;
  background-color: #d7dcde;
}

.price-filter-scale-bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.price-filter-range-controls .toggle {
  position: absolute;
  top: 30px;
  width: 20px;
  height: 22px;
  border: none;
  background-image: url(../img/icons/filter-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.price-filter-range-controls .price-toggle-min {
  left: -2px;
}

.price-filter-range-controls .price-toggle-max {
  left: 152px;
}

.price-filter-range-controls {
  font-size: 0;
}

.price-filter-controls {
  width: 220px;
  font-size: 16px;
  text-transform: uppercase;
}

.price-filter-controls input {
  width: 75px;
  padding: 8px 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background-color: #f7f3ec;
}

.price-filter-controls .max-price {
  text-align: right;
}

.price-filter-separator {
  margin-left: 8px;
  margin-right: 8px;
}

.brands-filter {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  color: #000;
  list-style: none;
  font-family: "PT Sans", Arial;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.brands-filter-title {
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: bold;
}

.brands-filter-list {
  padding: 0;
  margin: 0;
  padding-left: 35px;
  margin-top: 14px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.brands-filter-list li {
  margin-bottom: 20px;
}

.brands-filter-list label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/checkbox-off.svg);
  background-repeat: no-repeat;
  opacity: 0.8;
  transform: translate(-35px, -2px);
}

.battery-filter {
  border: 0;
  padding: 0;
  margin: 0;
  margin-top: 45px;
  color: #000;
  list-style: none;
  font-family: "PT Sans", Arial;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
}

.battery-filter-title {
  font-size: 17px;
  margin-bottom: 20px;
  font-weight: bold;
}

.battery-filter-list {
  padding: 0;
  margin: 0;
  padding-left: 35px;
  margin-top: 14px;
  font-family: "PTSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 20px;
}

.battery-filter-list label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/icons/radio-off.svg);
  background-repeat: no-repeat;=
  opacity: 0.8;
  transform: translate(-35px, -2px);
}

.battery-filter-list li {
  margin-bottom: 20px;
}

.brands-filter-list .filter-checkbox,
.battery-filter-list .filter-radio {
  display: none;
}

.filter-checkbox:checked ~ label::before {
  width: 27px;
  background-image: url(../img/icons/checkbox-on.svg);
  background-repeat: no-repeat;
}

.filter-radio:checked ~ label::before {
  width: 27px;
  background-image: url(../img/icons/radio-on.svg);
  background-repeat: no-repeat;
}

.filter-button {
  width: 140px;
  padding: 10px 38px;
  margin-top: 55px;
  border: solid 1px #e5e5e5;
  background-color: #ffffff;
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-cards {
  width: 700px;
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

.catalog-card {
  position: relative;
  width: 218px;
  border: solid 1px #eaeaea;
  font-family: "PT Sans", Arial;
  font-size: 18px;
  font-weight: 700;
  color: #000;
  margin-right: 20px;
  text-align: center;
}

.catalog-new-price {
  position: relative;
  width: 80px;
  margin: 0 auto;
  margin-bottom: 18px;
  padding: 8px 30px;
  color: white;
  background-color: #ee3643;
  border-radius: 3px;
}

.catalog-new-price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-old-price {
  height: 30px;
  margin: 0;
  color: #999;
  text-decoration: line-through;
}

.card-buttons {
  display: none;
}

.catalog-card:hover .card-buttons {
  display: block;
}

.catalog-card:nth-child(3n) {
  margin-right: 0;
}

.catalog-card:nth-child(n+4) {
  margin-top: 20px;
}

.catalog-pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin-top: 52px;
  margin-left: 18px;
  list-style: none;
}

.catalog-pagination-item {
  padding: 12px 16px;
  margin-right: 10px;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-pagination-item:hover {
  border: solid 1px #bdc6ca;
}

.catalog-pagination-item:active {
  border: solid 1px #ee3643;
}

.catalog-pagination-current {
  color: #fff;
  background-color: #ee3643;
}

.about-container {
  background-color: #f4f7f9;
}

.about {
  width: 940px;
  margin: 0 auto;
  padding: 65px 0 68px 0;
  color: #000;
  font-family: "PT Sans", Arial;
  font-size: 13px;
  line-height: 24px;
}

.about-title {
  font-family: "Cuprum", Tahoma;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;

}

.about-content {
  width: 910px;
}


